[consul_leader]
host-1 ansible_ssh_host=127.0.0.1 ansible_ssh_port=2201

[consul_followers]
host-2 ansible_ssh_host=127.0.0.1 ansible_ssh_port=2202
host-3 ansible_ssh_host=127.0.0.1 ansible_ssh_port=2203

[consul_followers:vars]
consul_leader_ip=192.168.50.101

[consul_leader:vars]
consul_cluster_size=3
